mixin header(loggedin)
  if(loggedin)
    nav
      ul
        li
          a(href="/") Home
        li
          a(href="/log-out") Log out
        li
          a(href="/membership") Membership status
  else
    nav
      ul
        li
          a(href="/") Home
        li
          a(href="/log-in") Log in
        li
          a(href="/sign-up") Sign up
