mixin header(loggedin)
  div.flex.flex-row.justify-between.items-center.mb-4
    div.flex.flex-row.gap-1
      i.lab.la-intercom.text-3xl.text-fuchsia-500
      |
      |
      h1
        a(href="/") Secret Club
    if(loggedin)
      nav.flex.flex-row.gap-4.items-center
        p Hello, #{user.fullname}
        |
        |
        span.text-fuchsia-500.font-semibold \\
        ul
          li
            a(href="/") Message board
          li
            a(href="/membership") Membership status
          li
            a(href="/log-out") Log out
    else
      nav
        ul
          li
            a(href="/") Message board
          li
            a(href="/log-in") Log in
          li
            a(href="/sign-up") Sign up
