mixin header(loggedin)
  div.flex.flex-row.justify-between.items-center
    h1 Secret Club
    if(loggedin)
      nav
        ul
          li
            a(href="/") Message board
          li
            a(href="/log-out") Log out
          li
            a(href="/membership") Membership status
    else
      nav
        ul
          li
            a(href="/") Message board
          li
            a(href="/log-in") Log in
          li
            a(href="/sign-up") Sign up
