extends layout

block content

  h1= title
  p To join the club, answer the following question:
  p What is the best color?
  form(action="" method="POST")
    label(for="answerquestion")Answer:
    select#answerquestion.form-control(type="select" placeholder="selectcolor" name="answerquestion" required="true")
      option(value="Pink") Pink
      option(value="Yellow") Yellow
      option(value="White") White
      option(value="Green") Green
      option(value="Black") Black
    button(type="submit") Send
