doctype html
html(lang="en")
  head
    title= title
    meta(charset='UTF-8')
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel="stylesheet" href="/line-awesome/css/line-awesome.min.css")
    script(src='/javascripts/script.js')
  body
    block header
    div.ml-2
      block content
