extends layout
block header
  include header
  +header(false)
block content
  include pagetitle
  +pagetitle(title)

  if(messages)
    each message in messages
      p #{message}
  form(action="" method="POST")
    label(for="username") Email:
    input#username(type="email" required="true" name="username")
    label(for="password") Password:
    input#password(type="password" required="true" name="password")
    button.self-center(type="submit") Log in

