extends layout

block content
  h1= title
  form(action="" method="POST")
    label(for="username") Email:
    input#username(type="email" required="true" name="username")
    label(for="password") Password:
    input#password(type="password" required="true" name="password")
    button(type="submit") Log in

