extends layout
block header
  include header
  +header(true)
block content

  div.flex.flex-row.gap-3.items-center
    p Ready to leave?
    form(action="" method="POST")
      button(type="submit") Log out
