extends layout

block header
  include header
  +header(user)
block content
  include pagetitle
  +pagetitle(title)

  if(errors)
    each error in errors
      p #{error.msg}
  div.w-full
    form.flex.flex-col.items-start(action="" method="POST")
      input#usernameforpost(type="hidden" value=(user === undefined ? username : user.fullname))
      label(for="messagetitle") Message title:
      input#messagetitle(type="text" name="messagetitle" required="true" maxlength="100" value=(formvalues === undefined ? "" : formvalues.messagetitle))
      label(for="newmessage") Message:
      textarea.resize-none#newmessage(name="newmessage" required="true" minlength="1" maxlength="300" rows="6" value=(formvalues === undefined ? "" : formvalues.newmessage))
      button(type="submit") Send
