extends layout

block header
  include header
  +header(true)
block content
  h2= title

  if(errors)
    each error in errors
      p #{error.msg}
  div
    if(user)
      p #{user.fullname}
    else
      p #{username}
    form.flex.flex-col(action="" method="POST")
      input#usernameforpost(type="hidden" value=(user === undefined ? username : user.fullname))
      label(for="messagetitle") Title:
      input#messagetitle(type="text" name="messagetitle" required="true" maxlength="100" value=(formvalues === undefined ? "" : formvalues.messagetitle))
      label(for="newmessage") Message:
      input#newmessage(type="text" name="newmessage" required="true" maxlength="300" value=(formvalues === undefined ? "" : formvalues.newmessage))
      button(type="submit") Send
