extends layout

block content
  h1=title

  p Name: #{user.fullname}

  p Membership status: #{user.membership}

  if(user.membership === "Outside")
    Want to join the club?
    |
    a(href="/join-club") Face the challenge
  if(user.admin)
    p Administrator
  else
    p No administrator priviledges. 
