extends layout

block header
  include header
  +header(user)

block content
  include pagetitle
  +pagetitle(title)

  p
    i.las.la-caret-right
    |
    | Full name: #{user.fullname}

  if(user.membership === "Insider")
    p
      i.las.la-caret-right
      |
      | Membership status:
      |
      |
      span#insider.text-blue-500.font-bold Insider
        span.text-zinc-700.font-normal
          |
          |
          i.las.la-hand-point-right
          |
          |
          span Yay you're an insider. Congrats!
    if(user.admin)
      p
        i.las.la-caret-right
        |
        | Administrator
    else
      p
        i.las.la-caret-right
        |
        | No administrator privileges. Do you have the "Become admin" special code?
        |
        |
        a.underline(href="/become-admin") Submit it
        |.
  else
    p
      i.las.la-caret-right
      |
      | Membership status:
      |
      |
      span.text-blue-500.font-bold Outsider

    p Want to join the club?
      |
      |
      a.underline(href="/join-club") Face the challenge
      |!

